<div class="flex flex-col items-center py-12 space-y-8">

    <div>
        <h1 class="text-gray-800 text-2xl font-bold text-center">I nostri servizi per l'architettura moderna</h1>   
    </div>

    <div class="flex flex-wrap justify-center gap-8 md:gap-32">
        <div class="p-6 flex flex-col items-center w-full sm:w-[48%] md:w-[30%]">
            <img class="w-[70px]" src="https://www.dimeostore.it/upload/immagini/originale_admin/spedizioni-698-235-07-43-52.jpg">
            <p class="font-bold text-gray-800 text-center">Progettazione personalizzata</p>
            <p class="font-light underline text-center">Esplora il processo</p>
        </div>
        <div class="p-6 flex flex-col items-center w-full sm:w-[48%] md:w-[30%]">
            <img class="w-[70px]" src="https://www.cheautocompro.it/sites/default/files/2024-10/Immatricolazione_300x300_2%20(6).png">
            <p class="font-bold text-gray-800 text-center">Consulenza di esperti</p>
            <p class="font-light underline text-center">Parla con noi</p>
        </div>
        <div class="p-6 flex flex-col items-center w-full sm:w-[48%] md:w-[30%]">
            <img class="w-[70px]" src="https://media.istockphoto.com/id/1405026405/it/vettoriale/icona-di-riavvio-vettoriale-simbolo-di-ripristino-nero-semplici-icone-freccia-di.jpg?s=612x612&w=0&k=20&c=9gwX_AtpvKtyMKLRmxMHp07COeoa1oeSwH6oRroO6Ps=">
            <p class="font-bold text-gray-800 text-center">Rendering 3D avanzati</p>
            <p class="font-light underline text-center">Guarda i dettagli</p>
        </div>
    </div>
</div>
